<main class="p5">
    <h1>
        Hello! <i class="bi bi-emoji-smile-fill"></i>
        <i class="fa-brands fa-slack fa-beat fa-lg" style="color: #29b027;"></i>
    </h1>

    <button class="btn btn-warning">
        <i class="bi bi-sd-card-fill"></i>
        <i class="fa-brands fa-slack fa-beat fa-lg" style="color: #29b027;"></i>
    </button>

    <div>
        <i class="fa-brands fa-slack fa-beat fa-lg" style="color: #29b027;"></i>
    </div>


    <div>
        <img src="/svg/slack.svg">
    </div>
</main>